/* 
    Created on : Jul 28, 2017, 9:42:18 AM
    Author     : Vitaliy
*/


.er_levelchoosediv2 {
display: inline-block;position: relative; width:500px;height: 300px;top: -50px;
}

.er_levelchoosediv1{
    display: inline-block;
    position: relative;
    width: 450px;
    text-align: left;
}

.er_finishdiv1{
    width:510px;
    text-align: left;
    display: inline-block;
}

.er_hud1{
    display: block;
    position: absolute;
    right: 65px;
    width: 275px;
    height: 194px;
    overflow: hidden;
}

.er_hud2{
    position:absolute;
    top: 190px;
    right: 142px;
}

.er_ratehead{
    display: inline-block;
    width: 560px;
    text-align:left;
}

.er_ratelist{
    display: inline-block;
    margin:10px;
    width: 500px;
}

.er_ruleshead{
    display:inline-block;
    vertical-align: top;
}

.er_rulestext{
    display: inline-block;
}

.er_howtohead{
    display:inline-block;
    text-align: left;
}

.er_howtolist{
    display: inline-block;
    position: relative;
    width: 400px;
    height: 300px;
}

.er_inviteleftpic{
    display:inline-block;
    position:relative;
    width: 200px;
    height: 300px;
}

.er_invitetext{
    display:inline-block;
    width: 600px;
}



.er_instrucitons{
    display: inline-block;
    position:relative;
}

.er_phonepic{
    display:inline-block;
    overflow: hidden;    
}

.er_phonetext{
    display:inline-block;
    vertical-align: top;
    position: relative;
    top: 150px;
    left: -50px;
    text-align: left;
    max-width: 380px;
}

.er_quizdiv{
    width:510px;
    text-align: left;
    display: inline-block;
    position:relative;
}

.er_pausediv {
width: 100%;
}

.er_hometitle{
    display:inline-block;
    text-align: left;
}

.er_homeprizes{
    position:relative;
    display: inline-block;
    text-align: left;
    margin-left: 160px;
}

.er_quizicon{
    position:absolute;
    top: 10px;
    left: -140px;
}

.er_quiznumber{
    display:inline-block;
    position: relative;
    top: -6px;
}

.er_infopopup_button{
    position: relative;
    top: -120px;
    left: -165px;
    margin-bottom: -99px;
}

.er_finish_score{
    color:white;
    font-size: 20px;
    margin: 0;
    text-align: left;
    line-height: 170%;
}

.er_finish_bonuse{
    display: none;
    color:#81d8d1;
    font-size: 20px;
    margin: 0;
    text-align: left;
    line-height: 130%;
}

.er_finish_best{
    color:white;
    margin: 0;
    text-align: left;
}

.er_finish_rate{
    color:white;
    margin: 0;
    text-align: left;
}

.er_game_system_alerts{
    position: absolute;
    width:100%;
    height:100%;
}

.er_homeprizes_mob{
    /* background: #8b4ac2 url(../guides/main_slider_guide.jpg) center center no-repeat;; */
    position: relative;
    min-width: 560px;
    width:100%;
    height:400px;
    display: none;
}

.er_main_mob_pic{
    position: absolute;
    top: -180px;
    right: -280px;
    display: none;
    pointer-events: none;
}

.er_howto_buttons{
    position: relative;
    top: -320px;
    left: 170px;
}

.er_instrucitons_cont{
    display: inline-block;
    position:relative;
    top:-200px;
}

.er_instrucitons_invite{
    display:none;
    position:absolute;
    left: 645px;
    top: 565px;
}

.er_instrucitons_nextvioletmix{
    display:none;
    position:absolute;
    left: 810px;
    top: 496px;
}

.er_instructions_current{
    position: absolute;
    top: 20px;
    right: 35px;
    display: none;
}

.er_instructions_current #ins_curr{
        color: white;
    font: 40px/normal "ProximaNovaExtraboldItalic", sans-serif;
    display: inline-block;
    margin: 0;
    /* vertical-align: top; */
}
.er_instructions_current #ins_total{
   color: white;
    font: 20px/normal "ProximaNovaLight", sans-serif;
    display: inline-block;
    margin: 0;
    /* vertical-align: top; */
    position: relative;
    top: -12px;
    left: 10px;
    letter-spacing: 0.1em;
}